$primary-purple-200: hsl(236, 72%, 79%);
$primary-purple-600: hsl(237, 63%, 64%);

$grayish-blue-100: hsl(240, 78%, 98%);
$grayish-blue-300: hsl(234, 14%, 74%);
$grayish-blue-500: hsl(233, 13%, 49%);
$grayish-blue-800: hsl(232, 13%, 33%);

$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1440px;
